*{
  margin: 0;
  padding: 0;
  font-family: roboto;
}

/* nav design start */

/* .navber{
  background: wheat;
} */

.nav-container{
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 5px;
}

.nav-list a{
  text-decoration: none;
  margin-left: 10px;
  padding: 10px;
  color: black;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}

.nav-list a:hover{
  background: wheat;
}

.nav-list button{
  padding: 8px 20px;
  border-radius: 5px;
  background: rgb(255, 140, 0);
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
  color: white;
  font-family: bangla;
  font-size: 18px;
}

/* nav design end */

/* home design start */
.home-bg{
  display: block;
  background-image: url(https://surokkha.gov.bd/static/media/banner-bg.7358efba.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.home-bg .home-container{
  min-height: 700px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-left-container{
  background: #ffffff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  max-height: 420px;
}

.home-left-container-top-right{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.home-left-container-top-right img{
  padding: 20px;
}

.home-left-container-top-right strong{
  padding: 20px;
  font-size: 30px;
}

.home-left-container-top-left{
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.home-left-container-top-left .items{
  margin: 10px;
  padding: 4px 20px 4px 40px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border-radius: 10px;
  font-size: 25px;
}

.home-left-container-top-left .items::before{
  position: absolute;
  content: "";
  border: 6px solid green;
  margin-left: -40px;
  height: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.home-help-line{
  margin: -50px auto 50px auto;
  border-radius: 8px;
  padding: 5px;
  max-width: 1200px;
  background: wheat;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  box-shadow: 2px 5px 5px rgb(164, 164, 164);
}

.home-help-line .help-line-items{
  cursor: pointer;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 400px;
  transition: 0.5s;
}

.home-help-line .help-line-items:hover{
  background: white;
  color: purple;
}

.system-of-corona-content{
  max-width: 1200px;
  margin: 100px auto;
}

.system-of-corona-content h2{
  padding: 10px 0 10px 20px;
  border-left: 8px solid;
  border-radius: 5px;
}

.direction-container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.direction-items{
  width: 400px;
  padding: 20px;
}

.direction-items h3{
  margin: 10px 0;
}

.mozib-100-container{

  max-width: 1200px;
  margin: 100px auto;
}

.mozib-100-container .mozib-100-items-container{
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  margin-top: 20px;
}

.mozib-100-container h2{
  padding: 10px 0 10px 20px;
  border-left: 8px solid;
  border-radius: 5px;
}

.mozib-100-container .mozib-100-items-container .mozib-100-items{
  padding: 20px;
  width: 200px;
  text-align: center;
  cursor: pointer;
}

::-webkit-scrollbar{
  width: 0;
}

.footer{
  background: rgb(255, 111, 0);
  /* height: 300px; */
  /* display: flex; */

}

.footer .footer-container{
  display: flex;
  max-width: 1200px;
  padding: 80px 0;
  margin: 0 auto 0 auto;
  justify-content: space-between;
  align-items: start;
}

.footer .footer-container .footer-items{
  display: flex;
  flex-direction: column;
}

.footer .footer-container .footer-items a{
  text-decoration: none;
  color: #ffffff;
  margin: 10px;
}

.footer .footer-container .footer-items p{
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 10px;
}
/* home design end */

/* registration design start */

/* .registration{
  height: 1200px;
  background: red;
} */

/* .from-options{
  height: 1200px;
} */

.from-options .title-bar {
  background: rgb(255, 111, 0);
  padding: 20px 0;
}

.from-options .title-bar h1{
  max-width: 1200px;
  margin: auto;
  color: #ffffff;
}

.from-options-left{
  max-width: 1200px;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
}

.from-options-left button{
  border: none;
  outline: none;
  font-weight: bold;
  background-color: green;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  cursor: pointer;
  font-size: larger;
  margin-right: 50px;
  color: #ffffff;
}

